<div class="cr-actions">

    <div class="container">

        <div class="row cr-actions-header">

            <div class="col-md-6">
                <h1 class="cr-actions-title">Ménage > Actions</h1>
            </div>

            <div class="col-md-6">
                <cr-login></cr-login>
            </div>

        </div>

        <div class="row cr-actions-content">

            <div class="col-md-2 col-sm-4 col-xs-6 col-md-offset-1">
                <cr-topic
                    image="household/topics/topic_presence"
                    view="$/angular/views/household/actions/topics/actions-presence.html"
                    controller="ModalTopicCtrl"
                    window-class="cr-theme-green"
                    label="topic.presence.label"
                    ng-disabled="isActionTopicEmpty('presence')"
                    ng-callback="save()"
                    ></cr-topic>
            </div>


            <div class="col-md-2 col-sm-4 col-xs-6">
                <cr-topic
                    image="household/topics/topic_programs"
                    view="$/angular/views/household/actions/topics/actions-programs.html"
                    controller="ModalTopicCtrl"
                    window-class="cr-theme-blue"
                    label="topic.programs.label"
                    ng-disabled="isActionTopicEmpty('programs')"
                    ng-callback="save()"
                    ></cr-topic>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <cr-topic
                    image="household/topics/topic_heating"
                    view="$/angular/views/household/actions/topics/actions-heating.html"
                    controller="ModalTopicCtrl"
                    window-class="cr-theme-red"
                    label="topic.heating.label"
                    ng-disabled="isActionTopicEmpty('heating')"
                    ng-callback="save()"
                    ></cr-topic>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <cr-topic
                    image="household/topics/topic_lighting"
                    view="$/angular/views/household/actions/topics/actions-lighting.html"
                    controller="ModalTopicCtrl"
                    window-class="cr-theme-orange"
                    label="topic.lighting.label"
                    ng-disabled="isActionTopicEmpty('lighting')"
                    ng-callback="save()"
                    ></cr-topic>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <cr-topic
                    image="household/topics/topic_dinner"
                    view="$/angular/views/household/actions/topics/actions-dinner.html"
                    controller="ModalTopicCtrl"
                    window-class="cr-theme-magenta"
                    label="topic.dinner.label"
                    ng-disabled="isActionTopicEmpty('dinner')"
                    ng-callback="save()"
                    ></cr-topic>
            </div>

        </div>


        <div class="row">
            <div class="col-md-4 cr-navigation">
                <button ui-sref="root.householdProfile"
                        class="pull-left cr-mega-button">
                    <i class="fa fa-caret-left fa-2x"></i>
                    <span>&nbsp;</span>
                    <span ng-bind-html="'nav.back-to-profile' | translate"></span>
                </button>
                <button ui-sref="root.householdResults"
                        ng-show="isAuthenticated()"
                        class="pull-right cr-mega-button">
                    <span ng-bind-html="'nav.to-results' | translate"></span>
                    <span>&nbsp;</span>
                    <i class="fa fa-caret-right fa-2x"></i>
                </button>

                <button ui-sref="root.householdAccount"
                        ng-hide="isAuthenticated()"
                        class="pull-right cr-mega-button">
                    <span ng-bind-html="'nav.to-identification' | translate"></span>
                    <span>&nbsp;</span>
                    <i class="fa fa-caret-right fa-2x"></i>
                </button>
            </div>
        </div>

        <div class="row cr-profile-result">
            <div class="col-md-12">
                <p>{{ effectiveReduction.reductions[0].secondPeriodPowerReduction }}</p>
                <p translate >actions.result</p>
                <p ng-bind-html="'actions.result' | translate | params:['caca']"></p>
            </div>
            <div class="col-md-12">
                <button class="btn btn-primary" ng-click="getEffectiveReduction()">Refresh</button>
            </div>

        </div>

    </div>
</div>