<div class="cr-directives-demo">


    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h3>Administrator panel</h3>

            </div>
            <div class="col-md-3">
                <a ng-click="logout()" > Logout</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <tabset class="cr-tabset">

                    <tab>
                        <tab-heading>
                            <i class="fa fa-gear"></i> Réductions
                        </tab-heading>
                    </tab>

                    <table>
                        <tr ng-repeat="batch in ">

                        </tr>
                    </table>

                </tabset>
            </div>
        </div>
    </div>
</div>