<div class="cr-slider">

    <label class="cr-slider-label" ng-bind-html="getLabel() | translate"></label>

    <span>{{ ngModel }}</span>

    <div class="cr-slider-container">
        <!-- Sections -->
        <span class="cr-slider-section"
              ng-class="{first: ($index == 1)}"
              ng-repeat="o in computedOptions"
              ng-mousedown="setValue(o)"
              ng-if="$index > 0"
              style="left: {{ ($index - 1 )* 100 + 8}}px"
            >
            <span class="cr-slider-section-line"></span>
            </span>


        <!-- Ticks -->
        <span ng-repeat="o in computedOptions">

            <span class="cr-slider-tick"
                  ng-class="{active: isValue(o), first: ($index == 0)}"
                  ng-mousedown="setValue(o)"
                  style="left: {{ $index * 100 }}px"
                ></span>

            </span>

        <!-- Labels -->
        <span ng-repeat="o in computedOptions">

            <span class="cr-slider-text"
                  ng-class="{active: isValue(o)}"
                  ng-mousedown="setValue(o)"
                  style="left: {{ $index * 100 + 8}}px"
                  ng-bind-html="('' + o.label) | translate"
                ></span>

            </span>
    </div>
</div>