<div class="cr-slider">

    <div class="cr-slider-container">

        <!-- Sections -->
            <span class="cr-slider-section first"
                  ng-repeat="o in computedOptions"
                  style="left: 0px"
                >
            </span>

        <div class="cr-slider-null-box">
              <span class="cr-slider-tick first"
                    ng-mousedown="setValue(computedOptions[0])"
                    style="left: 0px"
                  ></span>

        </div>

        <div class="cr-slider-not-null-box">

            <!-- Sections -->
            <span class="cr-slider-section"
                  ng-repeat="o in computedOptions"
                  ng-if="$index > 1"
                  style="left: {{ ($index - 2 )* 50}}px"
                >
            </span>

            <!-- Ticks -->

            <span class="cr-slider-tick"
                  ng-repeat="o in computedOptions"
                  ng-if="o.value != null"
                  ng-class="{active: isValue(o), first: ($index == 0)}"
                  ng-mousedown="setValue(o)"
                  style="left: {{ ($index - 1) * 50 }}px"
                ></span>


            <!-- Labels -->

            <span class="cr-slider-text"
                  ng-repeat="o in computedOptions"
                  ng-if="o.label != null"
                  ng-class="{active: isValue(o)}"
                  ng-mousedown="setValue(o)"
                  style="left: {{ ($index - 1 )* 50}}px"
                  ng-bind-html="('' + o.label) | translate"
                ></span>


        </div>
    </div>
</div>