<div class="cr-slider" collapse="!isVisible()">

    <div class="cr-slider-container" ng-if="!getVertical()">

        <!-- Sections -->
            <span class="cr-slider-section first"
                  ng-style="{left: 0}"
                >
            </span>

        <div class="cr-slider-null-box">
              <span class="cr-slider-tick first"
                    ng-mousedown="setValue(computedOptions[0])"
                    ng-style="{left: 0}"
                  ></span>

        </div>

        <div class="cr-slider-not-null-box">

            <div class="cr-slider-not-null-box-holder">
                <!-- Sections -->
                <span class="cr-slider-section"
                      ng-style="{left: 0, width: ((computedOptions.length-2) * 50.0) + 'px'}"
                    >
                </span>

                <!-- Ticks -->
                <span class="cr-slider-tick"
                      ng-repeat="o in computedOptions"
                      ng-if="o.value != null"
                      ng-class="{active: isValue(o), first: ($index == 0)}"
                      ng-mousedown="setValue(o)"
                      ng-style="{left: (($index - 1) * 50) + 'px'}"
                    ></span>


                <!-- Labels -->
                <span class="cr-slider-text"
                      ng-repeat="o in computedOptions"
                      ng-if="o.label != null"
                      ng-class="{active: isValue(o)}"
                      ng-mousedown="setValue(o)"
                      ng-style="{left: (($index - 1 )* 50) + 'px'}"
                      ng-bind-html="labelFilter('' + o.label)"
                    ></span>

            </div>
        </div>
    </div>

    <div class="cr-slider-container-vertical" ng-if="getVertical()"
         ng-style="{height: (computedOptions.length * 50.0) + 'px'}" ng-show="computedOptions.length <= 3">


        <!-- Sections -->
            <span class="cr-slider-section first"
                  ng-repeat="o in computedOptions"
                  ng-style="{left: 0}"
                >
            </span>

        <div class="cr-slider-null-box">
              <span class="cr-slider-tick first"
                    ng-mousedown="setValue(computedOptions[0])"
                    ng-style="{left: 0}"
                  ></span>

        </div>

        <div class="cr-slider-not-null-box" ng-style="{height: (computedOptions.length * 50.0) + 'px'}"}>

            <!-- Sections -->
            <span class="cr-slider-section"
                  ng-style="{top: 0, height: ((computedOptionsFiltered.length-2) * 50.0) + 'px'}"
                >
            </span>

            <!-- Ticks -->

            <span class="cr-slider-tick"
                  ng-repeat="o in computedOptions"
                  ng-if="o.value != null"
                  ng-class="{active: isValue(o), first: ($index == 0)}"
                  ng-mousedown="setValue(o)"
                  ng-style="{top: (($index - 1) * 50) + 'px'}"
                ></span>


            <!-- Labels -->

            <span class="cr-slider-text"
                  ng-repeat="o in computedOptions"
                  ng-if="o.label != null"
                  ng-class="{active: isValue(o)}"
                  ng-mousedown="setValue(o)"
                  ng-style="{top: (($index - 1 )* 50) + 'px'}"
                  ng-bind-html="labelFilter('' + o.label)"
                ></span>


        </div>
    </div>


    <div class="cr-slider-container-vertical" ng-if="getVertical() == 'true'"
         ng-style="{height: (computedOptionsFiltered.length * 50.0) + 'px'}" ng-hide="computedOptions.length <= 3">


        <!-- Sections -->
            <span class="cr-slider-section first"
                  ng-repeat="o in computedOptionsFiltered"
                  ng-style="{left: 0}"
                >
            </span>

        <div class="cr-slider-null-box">
              <span class="cr-slider-tick first"
                    ng-mousedown="setValue(computedOptionsFiltered[0])"
                    ng-style="{left: 0}"
                  ></span>

        </div>

        <div class="cr-slider-not-null-box" ng-style="{height: (computedOptionsFiltered.length * 50.0) + 'px'}">


            <!-- Sections -->
            <span class="cr-slider-section"
                  ng-style="{top: 0, height: ((computedOptionsFiltered.length-2) * 50.0) + 'px'}"
                >
            </span>

            <!-- Ticks -->

            <span class="cr-slider-tick"
                  ng-repeat="o in computedOptionsFiltered"
                  ng-show="o.value != null"
                  ng-class="{active: isValue(o), first: ($index == 0)}"
                  ng-mousedown="setValue(o)"
                  ng-style="{top: (($index - 1) * 50) + 'px'}"
                ></span>


            <!-- Labels -->

            <span class="cr-slider-text"
                  ng-repeat="o in computedOptionsFiltered"
                  ng-show="o.label != null"
                  ng-class="{active: isValue(o)}"
                  ng-mousedown="setValue(o)"
                  ng-style="{top: (($index - 1 )* 50) + 'px'}"
                  ng-bind-html="labelFilter('' + o.label)"
                ></span>

            <span class="cr-slider-text"
                  ng-hide="expanded"
                  ng-mousedown="toggleExpanded()"
                  ng-style="{top: ((computedOptionsFiltered.length - 2 )* 50) + 'px'}"
                >...</span>


        </div>


    </div>
</div>