<table class="cr-enterprise-form">
    <thead>
    <tr>
        <th></th>
        <th><span ng-bind-html="'enterprise.power' | translate"></span></th>
        <th><span ng-bind-html="'enterprise.begin' | translate"></span></th>
        <th><span ng-bind-html="'enterprise.duration' | translate"></span></th>
        <th><span ng-bind-html="'enterprise.description' | translate"></span></th>
    </tr>
    </thead>
    <tbody class="cr-enterprise-form-body">

    <tr ng-repeat-start="q in ngQuestions">
        <td>{{q + '.label' | translate}}</td>
        <td class="cr-enterprise-form-power">
            <input type="text" ng-pattern="/^\d*$/" ng-model="getAnswerValue(q).doubleValue"/> Watt
        </td>
        <td class="cr-enterprise-form-begin">
            <input cr-time-format type="text" ng-model="getAnswerValue(q).stringValue" placeholder="hh:mm"/>
        </td>
        <td class="cr-enterprise-form-duration">
            <input cr-time-format type="text" ng-model="getAnswerValue(q).stringValue" placeholder="hh:mm"/>
        </td>
        <td class="cr-enterprise-form-description">
            <input type="text"/>
        </td>
        <td class="cr-enterprise-form-minus">
            <button title="retirer une tranche horaire">
                <i class="fa fa-minus-circle"></i>
            </button>
        </td>
    </tr>

    <tr>
        <td colspan="5" class="cr-enterprise-form-plus">
            <button>
                <i class="fa fa-plus-circle"></i>&nbsp;ajouter une tranche horaire
            </button>
        </td>
    </tr>

    <tr ng-repeat-end>
        <td colspan="5"></td>
    </tr>

    </tbody>
</table>
