<table class="cr-enterprise-form">
    <tbody class="cr-enterprise-form-body" ng-repeat="q in ngQuestions">

        <tr ng-repeat="aa in getActionAnswers(q)">
            <td>
                <span ng-show="$index == 0">{{q + '.label' | translate}}</span>
            </td>
            <td>
                <i class="fa fa-check"
                   style="color: #006400"
                   ng-show="!!aa.power && !!aa.begin && !!aa.duration"
                   title="Complet"
                    ></i>
                <i class="fa fa-warning"
                   style="color: #8c781c"
                   title="Incomplet"
                   ng-hide="(!aa.power && !aa.begin && !aa.duration) || (!!aa.power && !!aa.begin && !!aa.duration)"
                    ></i>
            </td>
            <td class="cr-enterprise-form-power">
                <input type="text" ng-pattern="/^\d*$/" ng-model="aa.power"/> Watt
            </td>
            <td class="cr-enterprise-form-begin">
                {{ 'enterprise.since' | translate }}&nbsp;<input cr-time-format type="text" ng-model="aa.begin"
                                                                        placeholder="hh:mm"/>
            </td>
            <td class="cr-enterprise-form-duration">
                {{ 'enterprise.during' | translate }}&nbsp;<input cr-time-format type="text"
                                                                         ng-model="aa.duration" placeholder="hh:mm"/>
            </td>
            <td class="cr-enterprise-form-description">
                <span>(</span>
                <input type="text" ng-model="aa.description"/>
                <span>)</span>
            </td>
            <td class="cr-enterprise-form-minus">
                <button title="retirer une tranche horaire"
                        ng-click="removeActionAnswer(aa)"
                        ng-show="getActionAnswers(q).length > 1">
                    <i class="fa fa-minus-circle"></i>
                </button>
            </td>
        </tr>

        <tr>
            <td colspan="6" class="cr-enterprise-form-plus">
                <button ng-click="addEmptyActionAnswer(q)">
                    <i class="fa fa-plus-circle"></i>&nbsp;ajouter une tranche horaire
                </button>
            </td>
        </tr>

    </tbody>
</table>
