<div class="modal-header">
    <img class="cr-modal-title-icon" src="/assets/images/modal/topic01_title.png" alt=""/>
    <img class="cr-modal-title-separator" src="/assets/images/modal/title_verticalSeparator.png" alt=""/>
    <h3 class="modal-title cr-modal-title-text">Présence au domicile</h3>
</div>
<div class="modal-body">
    <cr-question label="Q1300.label">
        <cr-slider ng-model="getAnswerValue('Q1300').doubleValue" min="0" max="20" step="1"></cr-slider>
    </cr-question>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Yes</button>
    <button class="btn btn-warning" ng-click="cancel()">No</button>
</div>