<div class="modal-header">
    <img class="cr-modal-title-icon" src="/assets/images/modal/topic03_title.png" alt=""/>
    <img class="cr-modal-title-separator" src="/assets/images/modal/title_verticalSeparator.png" alt=""/>
    <h3 class="modal-title cr-modal-title-text">Chauffage & eau chaude</h3>
</div>
<div class="modal-body">
    <cr-question label="profile.Q4000.label">
        <cr-slider ng-model="responses.Q4000.value" ng-steps="slider.schedule.value"></cr-slider>
    </cr-question>

    <cr-question label="profile.Q1600.label">
        <cr-slider ng-model="q1600" min="0" max="1000" step="10" filter="toSquareMeters"></cr-slider>
    </cr-question>
    <cr-question label="profile.Q1900.label">
        <cr-slider ng-model="q1900" min="0" max="20000" step="500" filter="toWatts"></cr-slider>
    </cr-question>
    <cr-question label="profile.Q1210.label">
        <cr-slider ng-model="q1210" min="0" max="5" step="1"></cr-slider>
    </cr-question>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Yes</button>
    <button class="btn btn-warning" ng-click="cancel()">No</button>
</div>