<div class="modal-header">
    <h3 class="modal-title" ng-bind-html="'topic.heat.label' | translate"></h3>
</div>
<div class="modal-body">
    <cr-question label="Q1600.label">
        <cr-slider ng-model="getAnswerValue('Q1600').doubleValue" min="0" max="1000" step="10" filter="toSquareMeters"></cr-slider>
    </cr-question>
    <cr-question label="Q1900.label">
        <cr-slider ng-model="getAnswerValue('Q1900').doubleValue" min="0" max="20000" step="500" filter="toWatts"></cr-slider>
    </cr-question>

    <cr-question label="Q1210.label">
        <cr-slider ng-model="getAnswerValue('Q1210').stringValue" ng-steps="getNumericOptions('Q1210',0,5,1)"></cr-slider>
    </cr-question>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()" ng-bind-html="'generic.close' | translate"></button>
</div>