<div class="modal-header">
    <h3 class="modal-title" ng-bind-html="'topic.light.label' | translate"></h3>
</div>
<div class="modal-body">

    <cr-question label="Q1160.label">
        <cr-slider ng-model="getAnswerValue('Q1160','FIRST').stringValue" ng-steps="getNumericOptions('Q1160',0,5,1)"></cr-slider>
        <cr-slider ng-model="getAnswerValue('Q1160','SECOND').stringValue"  ng-steps="getNumericOptions('Q1160',0,5,1)"></cr-slider>
        <cr-slider ng-model="getAnswerValue('Q1160','THIRD').stringValue" ng-steps="getNumericOptions('Q1160',0,5,1)"></cr-slider>
    </cr-question>
    <cr-question label="Q1220.label">
        <cr-slider ng-model="getAnswerValue('Q1220').stringValue" ng-steps="getNumericOptions('Q1220',0,5,1)"></cr-slider>
    </cr-question>
    <cr-question label="Q1230.label">
        <cr-slider ng-model="getAnswerValue('Q1230').stringValue" ng-steps="getNumericOptions('Q1230',0,5,1)"></cr-slider>
    </cr-question>
    <cr-question label="Q1700.label">
        <cr-slider ng-model="getAnswerValue('Q1700').stringValue" ng-steps="getNumericOptions('Q1700',0,5,1)"></cr-slider>
    </cr-question>
    <cr-question label="Q1750.label">
        <cr-slider ng-model="getAnswerValue('Q1750').stringValue" ng-steps="getOptions('Q1750')" vertical="true"></cr-slider>
    </cr-question>
    <cr-question label="Q1800.label">
        <cr-slider ng-model="Q1800" min="0" max="1000" step="10" filter="toWatts"></cr-slider>
    </cr-question>

    <cr-section label="Q2000.label">
        <cr-question label="Q2010.label">
            <cr-slider ng-model="getAnswerValue('Q2010').stringValue" ng-steps="getOptions('Q2010')" vertical="true"></cr-slider>
        </cr-question>
        <cr-question label="Q2020.label">
            <cr-slider ng-model="getAnswerValue('Q2020').stringValue" ng-steps="getOptions('Q2020')" vertical="true"></cr-slider>
        </cr-question>
        <cr-question label="Q2030.label">
                <cr-slider ng-model="getAnswerValue('Q2030').stringValue" ng-steps="getOptions('Q2030')" vertical="true"></cr-slider>
        </cr-question>
        <cr-question label="Q2040.label">
            <cr-slider ng-model="getAnswerValue('Q2040').stringValue" ng-steps="getOptions('Q2040')" vertical="true"></cr-slider>
        </cr-question>
    </cr-section>




</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()" ng-bind-html="'generic.close' | translate"></button>
</div>