<div class="modal-header">
    <img class="cr-modal-title-icon" src="/assets/images/modal/topic05_title.png" alt=""/>
    <img class="cr-modal-title-separator" src="/assets/images/modal/title_verticalSeparator.png" alt=""/>
    <h3 class="modal-title cr-modal-title-text"  ng-bind-html="'topic.cook.label' | translate"></h3>
</div>
<div class="modal-body">

    <cr-section label="Q1140.label">
        <cr-question label="period.1.label">
            <cr-slider ng-model="getAnswerValue('Q1140','FIRST').stringValue" ng-steps="getNumericOptions('Q1140',0,5,1)"></cr-slider>
        </cr-question>
        <cr-question label="period.2.label">
            <cr-slider ng-model="getAnswerValue('Q1140','SECOND').stringValue"  ng-steps="getNumericOptions('Q1140',0,5,1)"></cr-slider>
        </cr-question>
        <cr-question label="period.3.label">
            <cr-slider ng-model="getAnswerValue('Q1140','THIRD').stringValue" ng-steps="getNumericOptions('Q1140',0,5,1)"></cr-slider>
        </cr-question>
    </cr-section>

    <cr-section label="Q1150.label">
        <cr-question label="period.1.label">
            <cr-slider ng-model="getAnswerValue('Q1150','FIRST').stringValue" ng-steps="getNumericOptions('Q1150',0,5,1)"></cr-slider>
        </cr-question>
        <cr-question label="period.2.label">
            <cr-slider ng-model="getAnswerValue('Q1150','SECOND').stringValue"  ng-steps="getNumericOptions('Q1150',0,5,1)"></cr-slider>
        </cr-question>
        <cr-question label="period.3.label">
            <cr-slider ng-model="getAnswerValue('Q1150','THIRD').stringValue" ng-steps="getNumericOptions('Q1150',0,5,1)"></cr-slider>
        </cr-question>
    </cr-section>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()" ng-bind-html="'generic.close' | translate"></button>
</div>