<div class="cr-actions">

    <div class="container">

        <div class="row cr-profile-header">

            <div class="col-md-6">
                <h2 ng-bind-html="'actions.title' | translate"></h2>


            </div>
            <div class="col-md-6">
                <cr-login></cr-login>
            </div>
        </div>

        <div class="row cr-profile-header">

            <div class="col-md-12">
                <p class="cr-intro" ng-bind-html="'actions.intro' | translate"></p>
            </div>
        </div>

        <div class="row cr-actions-content">

            <div class="col-md-2 col-sm-4 col-xs-6 col-md-offset-3">
                <cr-topic
                    image="enterprise/topics/topic_office"
                    view="$/angular/views/enterprise/actions/topics/actions-office.html"
                    controller="ModalTopicCtrl"
                    window-class="cr-theme-green"
                    label="topic.office.label"
                    ng-callback="onTopicClose()"
                    ></cr-topic>
            </div>


            <div class="col-md-2 col-sm-4 col-xs-6">
                <cr-topic
                    image="enterprise/topics/topic_building"
                    view="$/angular/views/enterprise/actions/topics/actions-building.html"
                    controller="ModalTopicCtrl"
                    window-class="cr-theme-blue"
                    label="topic.building.label"
                    ng-callback="onTopicClose()"
                    ></cr-topic>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <cr-topic
                    image="enterprise/topics/topic_process"
                    view="$/angular/views/enterprise/actions/topics/actions-process.html"
                    controller="ModalTopicCtrl"
                    window-class="cr-theme-red"
                    label="topic.process.label"
                    ng-callback="onTopicClose()"
                    ></cr-topic>
            </div>

        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="col-md-12" ng-show="!!averagePowerReduction">
                    <h3 ng-bind-html="'actions.result' | translate | params:[averagePowerReduction]"></h3>
                    <p class="cr-outro" ng-bind-html="'actions.outro' | translate"></p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <button ui-sref="root.enterpriseAccount"
                        class="pull-left cr-mega-button">
                    <i class="fa fa-caret-left fa-2x"></i>
                    <span>&nbsp;</span>
                    <span ng-bind-html="'nav.back-to-identification' | translate"></span>
                </button>
                <button ui-sref="root.enterpriseResults"
                        ng-show="isAuthenticated()"
                        class="pull-right cr-mega-button">
                    <span ng-bind-html="'nav.to-results' | translate"></span>
                    <span>&nbsp;</span>
                    <i class="fa fa-caret-right fa-2x"></i>
                </button>

                <button ui-sref="root.enterpriseResults"
                        ng-hide="isAuthenticated()"
                        class="pull-right cr-mega-button">
                    <span ng-bind-html="'nav.to-results' | translate"></span>
                    <span>&nbsp;</span>
                    <i class="fa fa-caret-right fa-2x"></i>
                </button>
            </div>
        </div>

    </div>
</div>
