<div class="cr-text" ng-switch="getMultiline() == 'true'">

    <textarea
            ng-switch-when="true"
            ng-attr-name="{{ $parent.getName() }}"
            class="form-control cr-text-textarea"
            ng-model="$parent.ngModel"
            ng-disabled="getDisabled() == true"></textarea>

    <input
            ng-switch-default
            ng-attr-name="{{ $parent.getName() }}"
            class="form-control cr-text-input"
            ng-model="$parent.ngModel"
            ng-disabled="$parent.getDisabled() == true"/>

</div>