<div class="col-md-12">
    <h1>Household questionnaire TRAD</h1>


    <div class="container">
        <div class="row">

            <button class="col-md-2" ng-bind-html="'topic.programs.label' | translate"
                    ng-click="openModal('household/profile/topics/t01-programs')">
            </button>

            <button class="col-md-2" ng-bind-html="'topic.presence.label' | translate"
                    ng-click="openModal('household/profile/topics/t02-presence')">
            </button>

            <button class="col-md-2" ng-bind-html="'topic.heat.label' | translate"
                    ng-click="openModal('household/profile/topics/t03-heating')">
            </button>

            <button class="col-md-2" ng-bind-html="'topic.light.label' | translate"
                    ng-click="openModal('household/profile/topics/t04-lighting')">
            </button>

            <button class="col-md-2" ng-bind-html="'topic.cook.label' | translate"
                    ng-click="openModal('household/profile/topics/t05-dinner')">
            </button>

            <button class="col-md-2" ng-bind-html="'generic.next' | translate"
                    ng-click="$root.redirectTo('/household-action/programs')">
            </button>
        </div>

        <row>


            <button class="col-md-2"
                    ng-click="openModal('household/account/registration')"> TEST !!
            </button>

            <button class="col-md-2"
                    ng-click="save()"> SAVE !!
            </button>
            <button class="col-md-2"
                    ng-click="load()"> LOAD !!
            </button>

        </row>
    </div>
</div>