<div class="cr-profile">

    <div class="container">

        <div class="row cr-profile-header">

            <div class="col-md-6">
                <h2 ng-bind-html="'profile.title' | translate"></h2>


            </div>
            <div class="col-md-6">
                <cr-login></cr-login>
            </div>
        </div>

        <div class="row cr-profile-header">

            <div class="col-md-12">
                <p class="cr-intro" ng-bind-html="'profile.intro' | translate"></p>
            </div>
        </div>

        <div class="row cr-profile-content">

            <div class="col-md-2 col-sm-4 col-xs-6 col-md-offset-1">
                <cr-topic
                        image="household/topics/topic_presence"
                        view="$/angular/views/household/profile/topics/profile-presence.html"
                        controller="ModalTopicCtrl"
                        window-class="cr-theme-green"
                        label="topic.presence.label"
                        active="{{ isProfileTopicCompleted('presence') }}"
                        ></cr-topic>
            </div>


            <div class="col-md-2 col-sm-4 col-xs-6">
                <cr-topic
                        image="household/topics/topic_programs"
                        view="$/angular/views/household/profile/topics/profile-programs.html"
                        controller="ModalTopicCtrl"
                        window-class="cr-theme-blue"
                        label="topic.programs.label"
                        active="{{ isProfileTopicCompleted('programs') }}"
                        ></cr-topic>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <cr-topic
                        image="household/topics/topic_heating"
                        view="$/angular/views/household/profile/topics/profile-heating.html"
                        controller="ModalTopicCtrl"
                        window-class="cr-theme-red"
                        label="topic.heating.label"
                        active="{{ isProfileTopicCompleted('heating') }}"
                        ></cr-topic>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <cr-topic
                        image="household/topics/topic_lighting"
                        view="$/angular/views/household/profile/topics/profile-lighting.html"
                        controller="ModalTopicCtrl"
                        window-class="cr-theme-orange"
                        label="topic.lighting.label"
                        active="{{ isProfileTopicCompleted('lighting') }}"
                        ></cr-topic>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <cr-topic
                        image="household/topics/topic_dinner"
                        view="$/angular/views/household/profile/topics/profile-dinner.html"
                        controller="ModalTopicCtrl"
                        window-class="cr-theme-magenta"
                        label="topic.dinner.label"
                        active="{{ isProfileTopicCompleted('dinner') }}"
                        ></cr-topic>
            </div>

        </div>

        <div class="row">

            <div class="col-md-12">
                <p class="cr-outro" ng-bind-html="'profile.outro' | translate"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <button ui-sref="root.welcome"
                        ng-show="!isAuthenticated()"
                        class="cr-mega-button pull-left">
                    <i class="fa fa-caret-left fa-2x"></i>
                    <span>&nbsp;</span>
                    <span ng-bind-html="'nav.back-to-welcome' | translate"></span>
                </button>


                <button ui-sref="root.householdActions"
                        ng-disabled=" !isProfileTopicCompleted('presence') || !isProfileTopicCompleted('programs') || !isProfileTopicCompleted('heating') || !isProfileTopicCompleted('lighting') || !isProfileTopicCompleted('dinner')"
                        class="cr-mega-button pull-right">
                    <span ng-bind-html="'nav.to-actions' | translate"></span>
                    <span>&nbsp;</span>
                    <i class="fa fa-caret-right fa-2x"></i>
                </button>
            </div>
        </div>

        <div class="row cr-profile-result">
            <div class="col-md-12">
                <p>Puissance effaçable potentielle: {{ potentialReduction.averagePowerReduction | numberToI18N: 0 }}
                    Watt</p>

                <p>Mon Potentiel par jour sur la période 17h-20h: {{ potentialReduction.energyReduction | numberToI18N
                    }} kWh</p>
                <button class="btn btn-primary" ng-click="getPotentialReduction()">Refresh</button>
            </div>
        </div>


    </div>

</div>
