<div class="cr-profile">

    <div class="container">

        <div class="row cr-profile-header">

            <div class="col-md-6">
                <h1 class="cr-profile-title">Ménage > Profil de consommation</h1>
            </div>

            <div class="col-md-6 cr-navigation">

                <a class="cr-profile-login-link" ng-click="logout()" ng-show="isAuthenticated()"> Logout</a>

                <a class="cr-profile-actions-link"
                   ng-bind-html="'nav.to-actions' | translate"
                   href="#/household-actions">
                </a>
            </div>

        </div>

        <div class="row cr-profile-content">

            <div class="col-md-2 col-sm-4 col-xs-6 col-md-offset-1">
                <cr-topic
                        image="household/topics/topic_presence"
                        view="$/angular/views/household/profile/topics/profile-presence.html"
                        controller="ModalTopicCtrl"
                        window-class="cr-theme-green"
                        label="topic.presence.label"
                        active="{{ isProfileTopicCompleted('presence') }}"
                        ></cr-topic>
            </div>


            <div class="col-md-2 col-sm-4 col-xs-6">
                <cr-topic
                        image="household/topics/topic_programs"
                        view="$/angular/views/household/profile/topics/profile-programs.html"
                        controller="ModalTopicCtrl"
                        window-class="cr-theme-blue"
                        label="topic.programs.label"
                        active="{{ isProfileTopicCompleted('programs') }}"
                        ></cr-topic>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <cr-topic
                        image="household/topics/topic_heating"
                        view="$/angular/views/household/profile/topics/profile-heating.html"
                        controller="ModalTopicCtrl"
                        window-class="cr-theme-red"
                        label="topic.heating.label"
                        active="{{ isProfileTopicCompleted('heating') }}"
                        ></cr-topic>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <cr-topic
                        image="household/topics/topic_lighting"
                        view="$/angular/views/household/profile/topics/profile-lighting.html"
                        controller="ModalTopicCtrl"
                        window-class="cr-theme-orange"
                        label="topic.lighting.label"
                        active="{{ isProfileTopicCompleted('lighting') }}"
                        ></cr-topic>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <cr-topic
                        image="household/topics/topic_dinner"
                        view="$/angular/views/household/profile/topics/profile-dinner.html"
                        controller="ModalTopicCtrl"
                        window-class="cr-theme-magenta"
                        label="topic.dinner.label"
                        active="{{ isProfileTopicCompleted('dinner') }}"
                        ></cr-topic>
            </div>

        </div>

        <div class="row cr-profile-result">
            <div class="col-md-12">
                <p>Puissance effaçable potentielle: {{ 10256.235 | numberToI18N: {nbDecimal: 0} }} Watt</p>
                <p>Mon Potentiel par jour sur la période 17h-20h: {{ potentialReduction.energyReduction }} kWh</p>
                <button class="btn btn-primary" ng-click="getPotentialReduction()">Refresh</button>
            </div>
        </div>

    </div>

</div>
