<div class="col-md-12">
    <h1>Ménage : Actions</h1>


    <div class="container">
        <div class="row">

            <button class="col-md-2" ng-bind-html="'topic.presence.label' | translate"
                    ng-click="openModal('household/action/topics/t01-action-presence')">
            </button>

            <button class="col-md-2" ng-bind-html="'topic.programs.label' | translate"
                    ng-click="openModal('household/action/topics/t02-action-programs')">
            </button>

            <button class="col-md-2" ng-bind-html="'topic.heat.label' | translate"
                    ng-click="openModal('household/profile/topics/t03-action-heating')">
            </button>

            <button class="col-md-2" ng-bind-html="'topic.light.label' | translate"
                    ng-click="oopenModal('household/action/topics/t04-action-light')">
            </button>

            <button class="col-md-2" ng-bind-html="'topic.cook.label' | translate"
                    ng-click="openModal('household/action/topics/t05-action-cook')">
            </button>

            <button class="col-md-2" ng-bind-html="'generic.next' | translate"
                    ng-click="$root.redirectTo('/household-action/programs')">
            </button>
        </div>

        <row>


            <button class="col-md-2"
                    ng-click="openTopic('registration')"> TEST !!
            </button>

            <button class="col-md-2"
                    ng-click="save()"> SAVE !!
            </button>

        </row>
    </div>
</div>