<div class="modal-header">
    <h3 class="modal-title">Eclairage & électroménager</h3>
</div>
<div class="modal-body">

    <cr-question label="Q1160">
        <cr-slider ng-model="q1160" min="0" max="5" step="1"></cr-slider>
    </cr-question>
    <cr-question label="Q1220">
        <cr-slider ng-model="q1220" min="0" max="5" step="1"></cr-slider>
    </cr-question>
    <cr-question label="Q1230">
        <cr-slider ng-model="q1230" min="0" max="5" step="1"></cr-slider>
    </cr-question>
    <cr-question label="Q1700">
        <cr-slider ng-model="q1700" min="0" max="5" step="1"></cr-slider>
    </cr-question>
    <cr-question label="Q1750">
        <cr-slider ng-model="q1750" vertical="true" ng-steps="[{value: null, label: null}, {value: 1, label:'des lampes LED'},{value: 2, label:' des lampes fluo-compactes'},{value: 3, label:' des lampes halogènes'},{value: 4, label:'des ampoules classiques'}]"></cr-slider>
    </cr-question>
    <cr-question label="Q1800">
        <cr-slider ng-model="q1800" min="0" max="1000" step="10"></cr-slider>
    </cr-question>
    <cr-question label="Q2000">
        <cr-slider ng-model="q2000" min="0" max="5" step="1"></cr-slider>
    </cr-question>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Yes</button>
    <button class="btn btn-warning" ng-click="cancel()">No</button>
</div>