<div class="modal-header">
    <h3 class="modal-title cr-modal-title-text" ng-bind-html="'account.button.changePassword' | translate"></h3>
</div>
<div class="modal-body">

    <cr-question label="account.info.oldPassword">
        <cr-text ng-model="o.oldPassword" type="password" name="password"
                 ng-validation="validation.oldPassword"></cr-text>
        <p class="cr-error" ng-show="validation.oldPassword.valid == false && noSubmitYet == false" ng-bind-html="'account.errorMessage.password' | translate"></p>
    </cr-question>
    <cr-question label="account.info.newPassword">
        <cr-text ng-model="o.newPassword" type="password" name="password"
                 ng-validation="validation.newPassword"></cr-text>
        <p class="cr-error" ng-show="validation.newPassword.valid == false && noSubmitYet == false"  ng-bind-html="''account.errorMessage.password' | translate"></p>
    </cr-question>
    <cr-question label="account.info.repeatPassword">
        <cr-text ng-model="o.repeatPassword"type="password" name="password"
                 ng-validation="validation.repeatPassword"></cr-text>
        <p class="cr-error" ng-show="validation.repeatPassword.valid == false && noSubmitYet == false" ng-bind-html="''account.errorMessage.repeatPassword' | translate"></p>
    </cr-question>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="loading == true" ng-click="save()"
            ng-bind-html="'generic.save' | translate"></button>
    <img ng-show="loading == true" ng-src="/assets/images/modal-loading.gif"/>
</div>