@import "_cr-question";
@import "_cr-section";
@import "_cr-topic";
@import "_cr-slider";
@import "_cr-text";
@import "_cr-multi-text";
@import "_cr-modal";
@import "_cr-profile";
@import "_cr-actions";
@import "_cr-messenger";
@import "_cr-mega-button";


img, button {
    max-width: 100%;
}

.cr-master {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

.trip-content {
    white-space: normal;
    max-width: 120px;
}


.cr-error{
  background-color: red;
  color:white;
  padding: 5px;
  margin-top: 3px;
}




.tc-chart-js-legend {
    list-style-type: none;
    padding-left: 0px;
}
.tc-chart-js-legend li {
    display: block;
    float: left;
    clear:both;
    padding:10px;
}
.tc-chart-js-legend li span {
    width:12px;
    height:12px;
    display:block;
    float:left;
    margin-top:4px;
    margin-right:10px;
    border-radius: 6px;
}

.tc-super-admin{
  table{
    th{
      padding-bottom:3px;
      text-align: center;
    }
    td{
      border:1px solid #b0b0b0;
      text-align: right;
    }
  }

}