<table>
    #foreach ($mapEntry in $actions.entrySet())
        <tr>
            <td>
                <img src="${hostname}/assets/images/${mapEntry.key.accountType.string}/topics/topic_${mapEntry.key.topicName}_active.png"
                     width="80" height="80"/>
            </td>
            <td>
                <ul>
                    #foreach ($questionCode in $mapEntry.value)
                        <li>

                            #set ($questionTransductionName = ${questionCode.getLeft()} + ".label")
                            $translationHelper.getMessage($questionTransductionName)
                            #if( $questionCode.getRight() )
                                ${questionCode.getRight()}
                            #end

                        </li>
                    #end
                </ul>
            </td>
        </tr>
    #end
</table>