<table>
    #foreach ($mapEntry in $actions.entrySet())
        <tr>
            <td>
                <img src="${hostname}/assets/images/${mapEntry.key.accountType.name}/topics/topic_${mapEntry.key.topicName}_active.png"
                     width="80" height="80"/>
            </td>
            <td>
                <ul>
                    <li>
                        #foreach ($questionCode in $mapEntry.value)
                            $translationHelper.getMessage($questionCode)
                        #end
                    </li>
                </ul>
            </td>
        </tr>
    #end
</table>